h1 {
    font-size:5em;
}

.error{
  color: Red;
}

span.green {
  background: #20B2AA;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em;
}

.ranking{
  margin:5px;
  border: 5px solid-black;
}
