<!doctype html>
<html ng-app="apuestasApp" ng-controller="apuestasController as vm">
  <head>
    <meta charset="utf-8">
    <title>El 8 de la Rivera</title>

    <script src="libs/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="css/Bootstrap1.min.css">

  </head>

  <body>

    <div class="panel panel-default">
      <div class="panel-body ">
        <div class="col-md-8">
          <h1>{{ vm.usuario.nombre }} - <small>${{ vm.usuario.saldo }}</small></h1>
        </div>
      </div>
    </div>


    <div>
      <div class="col-md-5">
        <div class="panel panel-default">
        <div class="panel-body ">

        <h2>Apostar</h2>
        <div class="form-group">
          <input class="form-control" type="number" width=100 ng-model="monto" placeholder="Monto">
        </div>

        <div class="form-group">
          <input class="form-control" type="number" ng-model="numero" placeholder="Numero">
        </div>

        <div class="form-group">
          <button class="btn btn-info"  width=100 ng-click="apostar()">Apostar</button>
        </div>
        </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3" algin="center">
          <h3>{{ vm.apuesta.resultado }}</h3>
        </div>
      </div>
      <div class="form-group">	
      	<div class="col-md-5">
        	<h2>Tendencias</h2>
        	<div ng-repeat="t in vm.tendencias">
            <h4>{{t.fecha}} - {{t.numero}}</h4>
        	</div>
      	</div>
      </div>	
    </div>

  </body>
</html>
