<!doctype html>
<html ng-app="apuestasApp">
  <head>
    <meta charset="utf-8">
    <title>El 8 de la Rivera</title>

    <script src="libs/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="css/Bootstrap1.min.css">

  </head>

  <body>
    <header>
      <div>
            <div class="col-md-3" style="margin-left:20px;">
              <h2> Ingresar</h2>

                <div ng-controller="loginController">
                  <br>

                    <div class="form-group">
                      <input class="form-control" type="text" width=100 ng-model="nombre" placeholder="Nombre de Usuario">
                    </div>

                    <div class="form-group">
                      <input class="form-control" type="password" width=100 ng-model="password" placeholder="Contraseña">
                    </div>

                    <div class="form-group">
                      <button class="btn btn-info"  width=100 ng-click="logearUsuario()">Ingresar</button>
                    </div>
                </div>

            </div>


        </div>
    </header>

  </body>
</html>